/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* Banner Styles */
header {
    color: #FFFBF4;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    background-color: transparent;
    display: flex;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 40px;
}

nav a {
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

nav a:hover {
    color: #f0f0f0;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.245);
    backdrop-filter: blur(4px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10px;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* Contact Form Styles */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.break {
    margin:100px;
}
